<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <center>
    <br>

    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"> Oops! Something went wrong. </h2>
      </div>

      <div class="panel-body">
        <img src="/images/404image.png">
        <br> <br>
        <a href="/" class="btn btn-danger"> Take me back home </a>
       </div>
    </div> 
    </center>
  </div>
</div>