<div class="jumbotron">
  <h1> Fladdit </h1>
  <p> A place to connect with people for no reason at all... </p>
</div>

<div class="alert alert-success" role="alert">
  <a href="/signup" class="alert-link"> Sign up for the keys to the wonderland! </a>
</div>

<div class="alert alert-info" role="alert">
  <a href="/login" class="alert-link"> Let me login so my day can get better. </a>
</div>